<main>
  <app-learning-resources />

  <hr />

  <app-auth />
  <!-- @if (isAdmin()) {
  <p>Only admins can see this.</p>
  } -->

  <!-- <p *ngIf="isAdmin()">Only admins can see this.</p> -->

  <!-- <ng-template appAuth="admin">
    <p>Only admins can see this.</p>
  </ng-template> -->

  <p *appAuth="'admin'" class="protected-content admin" appLog>
    Only admins can see this.
  </p>
  <p *appAuth="'user'" class="protected-content user">
    Only users can see this.
  </p>
  <p *appAuth="'guest'" class="protected-content guest">
    Only guests can see this.
  </p>
</main>
